[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
einops = "*"
kornia = "*"
requests = "*"
regex = "*"
ftfy = "*"
clip = {git = "https://github.com/openai/CLIP.git"}

[dev-packages]
flake8 = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.7"
